.navbar-brand > img {
  height: 2rem;
  margin-left: 1rem;
}
.nav-link > img {
  height: 1.5rem;
}
body {
  background-color: #e7e1d8;
}

main{
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;

  align-items: center;
}

.project-container{
  border: 2px solid black;
  border-radius: 1.5em;
  padding: 1em;
}

.priority-bubble{
  border: 2px solid black;
  border-radius: .25em;
  padding:.25em;
}

nav{
  display: flex;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 2em;
}

.picture-on-sign-up-page {
  height: 8rem;
}


.index-page-words, h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
}


.index-page-words {
  margin-top: 1rem;
  font-size: 5em;
}

.project-index-table, thead {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
table{
  border-collapse: separate;
  border-spacing: 0 1rem;
  background-color: #e7e1d8;
}
td{
padding: .5rem;
}

.priority-bubble {
  width: 1em
  height 1em;
}

.project-list-container{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.project-container{
  width:80%;
  margin-bottom: 2em;
}

.project-container:hover{
  color:white;
}

.P1.project-container {background-color: rgba(255, 161, 161, 0.65);}
.P2.project-container {background-color: rgba(255, 212, 132, 0.65);}
.P3.project-container {background-color: rgba(255, 255, 181, 0.65);}
.P4.project-container {background-color: rgba(153, 255, 153, 0.65);}
.P5.project-container {background-color: rgba(157, 163, 255, 0.65);}

.P1.priority-bubble {background-color: rgb(255, 70, 70);}
.P2.priority-bubble {background-color: rgb(255, 190, 69);}
.P3.priority-bubble {background-color: rgb(255, 255, 80);}
.P4.priority-bubble {background-color: rgb(77, 252, 77);}
.P5.priority-bubble {background-color: rgb(84, 96, 255);}

.delete-project-button {
  background: #ff0000;
  color: white;
  border-color: #000000;
  border-radius: 1em;
  padding: .3em
}

.edit-project-button {
  background: #2196F3;
  border: 1px solid black;
  border-radius: 1em; 
  width:fit-content;
  padding: .3em
}

.edit-project-link{
  text-decoration: none;
  color: white;
}

.project-button-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media only screen and (min-width: 990px) {
h1{
  font-size: 8em;
}
}

@media only screen and (max-width: 991px) {
.description, .due {
  display: none;
}
}