*{
  /* border: 1px solid black; */
  box-sizing: border-box;
}

.navbar-brand > img {
  height: 2rem;
  margin-left: 1rem;
}
.nav-link > img {
  height: 1.5rem;
}
body {
  background-color: #ADDFFF;
}
nav{
  display: flex;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 2em;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: .75rem;
  padding-right: .75rem;
}

.picture-on-sign-up-page {
  height: 8rem;
}


.index-page-words, h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
}


.index-page-words {
  margin-top: 1rem;
  font-size: 5em;
}

.project-index-table, thead {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}



.project-container{
  display: flex;
  flex-direction: column;
  padding: .5em;
  border-radius: 1em;
  border: 2px solid black;
  margin-bottom: 1rem;
}

.project-title{
  font-weight: bolder;
  font-size: 2rem;
}

.priority-bubble {
  padding: .25em;
  border-radius: 35%;
  border: 2px solid black;
  font-size: 1rem;

}

.project-description{}

.project-due{}

em{font-style: italic;}


.P1{background-color: rgb(180, 0, 0);}
.P2{background-color: rgb(180, 90, 0);}
.P3{background-color: rgb(230, 230, 0);}
.P4{background-color: rgb(0, 128, 0);}
.P5{background-color: rgb(60, 60, 255);}

.P1.project-container {background-color: rgba(180, 0, 0, 0.55);}
.P2.project-container {background-color: rgba(180, 90, 0, 0.55);}
.P3.project-container {background-color: rgba(230, 230, 0, 0.55);}
.P4.project-container {background-color: rgba(0, 128, 0, 0.55);}
.P5.project-container {background-color: rgba(60, 60, 255, 0.55);}


@media only screen and (min-width: 600px) {
h1{
  font-size: 8em;
}
}