<%- include('../partials/header') %>

<form id="project-edit-form" action="/projects/<%=project._id%>?_method=PUT" method="POST">

    <label>Title:</label>
  <input type="text" name="title" value="<%=project.title%>"><br>

  <label>Description:</label>
  <textarea name="description"><%=project.description%></textarea><br>

  <label>Start Date:</label>
  <input type="datetime-local" name="startDate"><br>

  <label>Due Date:</label>
  <input type="datetime-local" name="dueDate"><br>

 <label>Priority</label>
<select name="priority">
  <option value="P1" <% if (project.priority === "P1") { %>selected<% } %>>P1</option>
  <option value="P2" <% if (project.priority === "P2") { %>selected<% } %>>P2</option>
  <option value="P3" <% if (project.priority === "P3") { %>selected<% } %>>P3</option>
  <option value="P4" <% if (project.priority === "P4") { %>selected<% } %>>P4</option>
  <option value="P5" <% if (project.priority === "P5") { %>selected<% } %>>P5</option>
</select>

  <!-- <label>Invite Team Members:</label>
  <input type="email" name="invitation-email-address"> -->

  <input type="submit" value="Save Changes">
</form>
