<%- include('../partials/header') %>



<% if(projects.length > 0){ %>
  <div id="project-list-container"></div>
  <% projects.forEach((project)=>{ %>
    <%- include('../partials/projectoverview', { project: project }) %> 
  <% }); %>
  </div>
<%}else{ %>
  <%- include('../partials/noprojects') %>
<% } %>



<%- include('../partials/footer') %>
