<%- include('../partials/header') %>




    <div class="project-list-container">
      <% projects.forEach(function(project) { %>
        <%-include('../partials/projectoverview', {project: project}) %>
      <% }); %>
    </div>
  
 
 

<%- include('../partials/footer') %>
